#root {
    max-width: 1200px;
    margin: 0 auto;
  }
  
  .container {
    display: flex;
    flex-wrap: wrap;
  }
  
  .card {
    margin: 1rem;
    border: 1px solid gray;
  }
/*______________________________________________*/

/* Grid */
  .head { 
    grid-area: header;
    text-align: center;
  }

  .totalGloballyConfirmed {
    grid-area: totalGloballyConfirmed;
    text-align: center;
  }

  .totalGloballyRecovered {
    grid-area: totalGloballyRecovered;
    text-align: center;
  }

  .map { grid-area: map; }

  .totalGlobalDeath {
    grid-area: totalGlobalDeath;
    text-align: center;
  }

  .covidUpdate { 
    grid-area: covidUpdate;
    text-align: left;
    overflow: auto;
  }
 

  .grid-container {
    display: grid;
    grid-template-areas:
    'header header header header header header header'
    'covidUpdate map map map map map totalGloballyConfirmed'
    'covidUpdate map map map map map totalGloballyRecovered'
    'covidUpdate map map map map map totalGlobalDeath'
    ;
    grid-gap: 5px;
    background-color: #cae3f8;
    padding: 10px;
    height: 100vh;
  }

  .grid-container > div {
    background-color: rgba(255, 255, 255, 0.8);
    padding: 0px 15px;
    font-size: 20px;
  }
/*________________________________________________*/

  @media screen and (min-width: 600px) {
    .card {
      flex: 1 1 calc(50% - 2rem);
    }
  }
  
  @media screen and (min-width: 900px) {
    .card {
      flex: 1 1 calc(33% - 2rem);
    }
  }