#root {
    max-width: 1200px;
    margin: 0 auto;
  }
  
  .container {
    display: flex;
    flex-wrap: wrap;
  }
  
  .card {
    margin: 1rem;
    border: 1px solid rgb(3, 92, 133);
  }
/*______________________________________________*/

/* Grid */
  .head { 
    grid-area: header;
    text-align: center;
    color: rgb(230, 244, 253);
  }

  .totalGloballyConfirmed {
    grid-area: totalGloballyConfirmed;
    text-align: center;
    line-height: 40px;
  }

  .totalGloballyRecovered {
    grid-area: totalGloballyRecovered;
    text-align: center;
    line-height: 40px;
  }

  .map { grid-area: map; }

  .totalGlobalDeath {
    grid-area: totalGlobalDeath;
    text-align: center;
    line-height: 40px;
  }

  .covidUpdate { 
    grid-area: covidUpdate;
    text-align: left;
    overflow: auto;
  }

  .lastUpdate {
    grid-area: lastUpdate;
  }

  .footer {
    grid-area: footer;
  }
 
  .map img {
    max-width: 900px;
  }

  .grid-container {
    display: grid;
    grid-template-areas:
    'header header header header header header header'
    'covidUpdate map map map map map totalGloballyConfirmed'
    'covidUpdate map map map map map totalGloballyRecovered'
    'covidUpdate map map map map map totalGlobalDeath'
    'lastUpdate lastUpdate footer footer footer footer totalGlobalDeath'
    ;
    grid-gap: 5px;
    background-color:  rgb(0, 25, 36);
    padding: 0px;
    height: 100vh;
    font-family: Arial, Helvetica, sans-serif;
    letter-spacing: 1.5px;
  }

  body {
    background-color:  rgb(0, 25, 36);
  }

  .grid-container > div {
    background-color: rgb(3, 48, 107);
    padding: 0px 15px;
    font-size: 20px;
  }
/*________________________________________________*/

/* styles in java script file */

.confermedCase, .confermedCaseGlobally {
  color: rgb(245, 27, 27);
}

.confermedDeath, .confermedCaseGlobally {
  font-size: 30px;
  letter-spacing: 3px;
}

.confermedDeath {
  color: rgb(248, 98, 98);
}

.recoveredCase {
  color: rgb(104, 245, 115);
  font-size: 30px;
  letter-spacing: 3px;
}

.confermedHead, .recoveredHead, .deathHead, .lastUpdate, .footer {
  color: rgb(223, 234, 250);
  
}
.lastUpdate, .footer {
  text-align: center;
}
.footer {
  font-size: medium;
}

.heartSymbel {
  color: red;
  font-size: 16px;
  padding-left: 5px;
  padding-right: 5px;
  animation-duration: 4s;
}


@keyframes heart {
  0% {
    color: red;
  }
  25% {
    color: yellow;
  }
  50% {
    color: rgb(255, 0, 200);
  }
  100% {
    color: greenyellow;
  }
}

.heartSymbel:hover {
  font-size: 25px;
  animation-name: heart;
}

/*_______________________________________________*/

  @media screen and (min-width: 600px) {
    .card {
      flex: 1 1 calc(50% - 2rem);
    }
  }
  
  @media screen and (min-width: 900px) {
    .card {
      flex: 1 1 calc(33% - 2rem);
    }
  }